{{! public/entry/judo/single }}
<div class="entry public">

  <div class="row">
    <div class="columns entry-header">
      <div class="entry-header-left">
        <div class="date">
          <h6 class="month">February</h6>
          <span class="day">14</span>
          <span class="year">2014</span>
        </div>
      </div>
      
      <div id="entry-rating">
        {{> partials/rating }}
      </div>
      
      <div class="entry-header-row">
        <h1 id="art" class="headertext">{{ art.name }}</h1>
        <h1 id="type" class="headertext">{{ type.name }}</h1>
      </div>
      
      <div class="entry-header-section">
      
        <div class="entry-header-row">
          <h5 id="location" class="headertext">gdm @ {{ location.name }}</h5>
        </div>
        
        <div class="entry-header-row">
          <h5 id="date" class="headertext">
            February 14, 2014 (2 hours)
          </h5>
        </div>
        
      </div>

    </div>
  </div>


  <div class="row">

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns">
      <div class="module-section drill">
        <div class="section-header">
          <h3 class="list-title">Drills</h3>
        </div>
        <ul class="model-list row">
          {{#each drills}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              {{#if details}}
                <div class="model-body-cap"></div>
              {{/if}}
              <div class="model-header">
                <div class="model-title">
                  {{ name }}
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns">
      <div class="module-section sparring">
        <div class="section-header">
          <h3 class="list-title">Sparring</h3>
        </div>
        <ul class="model-list row">
          {{#each sparring}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              {{#if details}}
                <div class="model-body-cap"></div>
              {{/if}}
              <div class="model-header">
                <div class="model-title">
                  {{ partner }} ({{ minutes }} minutes)
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns end">
      <div class="module-section note">
        <div class="section-header">
          <h3 class="list-title">Notes</h3>
        </div>
        <ul class="model-list row">
          {{#each notes}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              {{#if details}}
                <div class="model-body-cap"></div>
              {{/if}}
              <div class="model-header">
                <div class="model-title">
                  {{ title }}
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    
  </div>
</div>