{{! public/entry/judo/single }}
<div class="entry public">

  <div class="row">

    <div class="columns entry-header">
    
      <div id="entry-rating">
        {{> partials/rating }}
      </div>
    
      <h3 id="art" class="headertext">{{ art.name }}</h3>
      
      <h3 id="type" class="headertext">{{ type.name }}</h3>
      
      <h3 id="location" class="headertext">{{ location.name }}</h3>
    </div>
      
    <div class="columns entry-header">
      <div>
        <h3 class="headertext">
          <i class="fa fa-calendar"></i>
          Thursday, 15 Jan 2014
        </h3>
      </div>
      
      <div>
        <h3 class="plaintext">from</h3>
        <h3 class="headertext">
          <i class="fa fa-clock-o"></i>
          2:45PM
        </h3>
      </div>
      
      <div>
        <h3 class="plaintext">until</h3>
        <h3 class="headertext">
          <i class="fa fa-clock-o"></i>
          4:45PM
        </h3>
      </div>
      
    </div>
  </div>


  <div class="row">

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns">
      <div class="module-section drill">
        <div class="section-header">
          <h3 class="list-title">Drills</h3>
        </div>
        <ul class="model-list row">
          {{#each drills}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              <div class="model-header">
                <div class="model-title">
                  {{ name }}
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns">
      <div class="module-section sparring">
        <div class="section-header">
          <h3 class="list-title">Sparring</h3>
        </div>
        <ul class="model-list row">
          {{#each sparring}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              <div class="model-header">
                <div class="model-title">
                  {{ partner }} ({{ minutes }} minutes)
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="medium-10 large-uncentered large-6 xlarge-4 columns end">
      <div class="module-section note">
        <div class="section-header">
          <h3 class="list-title">Notes</h3>
        </div>
        <ul class="model-list row">
          {{#each notes}}
            <li class="{{#if details}}has-body {{/if}}model-entry columns">
              <div class="model-header">
                <div class="model-title">
                  {{ title }}
                </div>
              </div>
              {{#if details}}
                <div class="model-body">
                  {{ details }}
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    
  </div>
</div>