{{! private/entry/select }}

<div id="{{ field }}-select" class="single-select">
  <div class="click-away-overlay"></div>
  <input class="select-input" name="{{ cid }}:{{ field }}" type="text"/>
  <div class="select-display">
    {{#if selectedKey}}
      <h3 class="headertext edit-link selected-key"><i class="{{ icon.className }}">{{ icon.text }}</i > {{ selectedKey }}</h3>
    {{else}}
      <h3 class="headertext edit-link placeholder"><i class="{{ icon.className }}">{{ icon.text }}</i > {{ placeholder }}</h3>
    {{/if}}
    <div class="select-drop">
      <div class="select-search">
        <input type="text" autocomplete="off" placeholder="{{ hint }}"/>
        <i class="fa fa-search fa-2x"></i>
      </div>
      <ul class="select-options">
        {{#each options}}
          <li id="{{ id }}"
              data-value="{{ resource_uri }}"
              class="select-option {{#if selected}}option-selected{{/if}}"
          >
            {{ name }}
          </li>
        {{/each}}
      </ul>
      <h3 class="edit-link select-create">
      </h3>
    </div>
  </div>
</div>