{{! edit/entry/module/drill/single }}
<div id="{{ cid }}-save" class="modal-save disabled">
	<i class="saving fa fa-spinner fa-spin"></i>
	<i class="enabled fa fa-floppy-o"></i>
	<i class="disabled fa fa-check"></i>
</div>
<div class="modal-header">
	<div><h3>Drill</h3></div>
	<input required type="text" name="{{ cid }}:name" class="focus" placeholder="Name" value="{{ name }}" />
</div>
<textarea name="{{ cid }}:details" placeholder="Details">{{ details }}</textarea>
<button class="tiny secondary radius left close-modal">close</button>