{{! private/entry/judo/single }}
<div class="entry private">
  <div class="row">

    <div class="columns">
    
      <div id="{{ cid }}-save" class="entry-save disabled">
        <i class="saving fa fa-spinner fa-spin"></i>
        <i class="enabled fa fa-floppy-o"></i>
        <i class="disabled fa fa-check"></i>
      </div>

      <div id="entry-rating">
        {{> partials/rating }}
      </div>
      
    </div>
  </div>

  <div class="row">

    <div class="columns entry-header">
    
      <div class="entry-header-row">
        <div id="art"></div>
        <div id="type"></div>
        <div id="location"></div>
      </div>
    
      <div class="entry-header-row">
        <div>
          <h3 class="headertext edit-link modal-trigger date-modal">
            <i class="fa fa-calendar"></i>
            <span class="display date">{{ displayDate }}</span>
          </h3>
        </div>
        <div>
          <h3 class="plaintext">from</h3>
          <h3 class="headertext edit-link modal-trigger start-time-modal">
            <i class="fa fa-clock-o"></i>
            <span class="display start">{{ displayStart }}</span>
          </h3>
        </div>
        <div>
          <h3 class="plaintext">until</h3>
          <h3 class="headertext edit-link modal-trigger end-time-modal">
            <i class="fa fa-clock-o"></i>
            <span class="display end">{{ displayEnd }}</span>
          </h3>
        </div>
      </div>
      
    </div>
    
  </div>

  {{!
    <div class="row">

      <div class="medium-6 columns">
        <div id="goals"></div>
      </div>
      
    </div>
  }}

  <div class="row">

    <div class="medium-10 large-8 columns">
      <div id="drills"></div>
    </div>

    <div class="medium-10 large-8 columns">
      <div id="sparring"></div>
    </div>

    <div class="medium-10 large-8 columns end">
      <div id="notes"></div>
    </div>
    
  </div>


  <div class="row">
    <div class="columns">
    
      <div class="modal-wrapper modal-centered date-modal">
        <div class="click-away-overlay"></div>
        <div class="modal">
          <div id="date" name="{{ cid }}:date"></div>
        </div>
      </div>
        
      <div class="modal-wrapper modal-centered start-time-modal">
        <div class="click-away-overlay"></div>
        <div class="modal">
          <div id="start"></div>
        </div>
      </div>

      <div class="modal-wrapper modal-centered end-time-modal">
        <div class="click-away-overlay"></div>
        <div class="modal">
          <div id="end"></div>
        </div>
      </div>
      
    </div>
  </div>
</div>