{{! private/partials/rating }}
<div class="rating">
	{{#each ratings}}
		<label for="{{ ../cid }}:rating-{{ rating }}">
			<input id="{{ ../cid }}:rating-{{ rating }}" type="radio" name="{{ ../cid }}:rating" value="{{ rating }}"
			{{#if checked}} checked{{/if}}/>
			<img src="/static/img/rating-{{ rating }}.png">
		</label>
	{{/each}}
</div>