{{! public/pages/profile }}
<div class="profile public">
  <div class="row">
    <div class="columns profile-header">
      <div class="profile-badge">
        <img class="image" src="https://0.gravatar.com/avatar/28835b33be76b8366bc9bc4a2ff7cd10?d=https%3A%2F%2Fidenticons.github.com%2Ffd4840e485d99f3f8ebc39d648bc4d14.png&amp;r=x&amp;s=440">
      </div>
      <div class="profile-meta">
        <h1 class="username">
          gary menezes
        </h1>
      </div>
      <ul class="profile-menu">
        <li class="active"><h5 class="title">Entries</h5></li>
        <li class="inactive"><h5 class="title">Stats</h5></li>
        <li class="inactive"><h5 class="title">Arts</h5></li>
        <li class="inactive"><h5 class="title">Locations</h5></li>
      </ul>
    </div>

    <div class="columns profile-feed">
      <ul class="entry-list">
        {{#each entries }}
          <li>
            <div class="entry-right">
              <a class="link" href="{{ link }}">view</a>
            </div>
            <div class="date entry-left">{{ date }}</div>
            <h2 class="title entry-left">{{> partials/rating }} {{ art.name }} {{ type.name }}</h2>
          </li>
        {{/each}}
        {{#each entries }}
          <li>
            <div class="entry-right">
              <a class="link" href="{{ link }}">view</a>
            </div>
            <div class="date entry-left">{{ date }}</div>
            <h2 class="title entry-left">{{> partials/rating }} {{ art.name }} {{ type.name }}</h2>
          </li>
        {{/each}}
        {{#each entries }}
          <li>
            <div class="entry-right">
              <a class="link" href="{{ link }}">view</a>
            </div>
            <div class="date entry-left">{{ date }}</div>
            <h2 class="title entry-left">{{> partials/rating }} {{ art.name }} {{ type.name }}</h2>
          </li>
        {{/each}}
        {{#each entries }}
          <li>
            <div class="entry-right">
              <a class="link" href="{{ link }}">view</a>
            </div>
            <div class="date entry-left">{{ date }}</div>
            <h2 class="title entry-left">{{> partials/rating }} {{ art.name }} {{ type.name }}</h2>
          </li>
        {{/each}}
        {{#each entries }}
          <li>
            <div class="entry-right">
              <a class="link" href="{{ link }}">view</a>
            </div>
            <div class="date entry-left">{{ date }}</div>
            <h2 class="title entry-left">{{> partials/rating }} {{ art.name }} {{ type.name }}</h2>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>