<div class="rating">
  <label for="{{ resource_uri }}:rating-1">
    <input id="{{ resource_uri }}:rating-1" type="radio" name="{{ cid }}:rating" value="1" />
    <img src="http://digitod.com/wp-content/uploads/2013/04/smiley-face.png">
  </label>
  <label for="{{ resource_uri }}:rating-2">
    <input id="{{ resource_uri }}:rating-2" type="radio" name="{{ cid }}:rating" value="2" />
    <img src="http://digitod.com/wp-content/uploads/2013/04/smiley-face.png">
  </label>
  <label for="{{ resource_uri }}:rating-3">
    <input id="{{ resource_uri }}:rating-3" type="radio" name="{{ cid }}:rating" value="3" />
    <img src="http://digitod.com/wp-content/uploads/2013/04/smiley-face.png">
  </label>
  <label for="{{ resource_uri }}:rating-4">
    <input id="{{ resource_uri }}:rating-4" type="radio" name="{{ cid }}:rating" value="4" />
    <img src="http://digitod.com/wp-content/uploads/2013/04/smiley-face.png">
  </label>
  <label for="{{ resource_uri }}:rating-5">
    <input id="{{ resource_uri }}:rating-5" type="radio" name="{{ cid }}:rating" value="5" />
    <img src="http://digitod.com/wp-content/uploads/2013/04/smiley-face.png">
  </label>
</div>