{{! models/type/select/one }}
<select id="{{ field }}-select" class="chosen-select" name="{{ cid }}:{{ field }}">
{{#each options}}
  <option value="{{ resource_uri }}" {{#if selected}}selected{{/if}}>{{ name }}</option>
{{/each}}
</select>