{{! private/entry/module/sparring/single }}
<li class="has-body model-entry columns">
  <div class="model-body-cap"></div>
  <div class="model-header">
    <div class="buttons">
      <button class="view tiny alert radius delete-model">remove</button>
      <button class="view tiny success radius edit-model">edit <i class="fa fa-pencil"></i ></button>
      <button class="edit tiny secondary radius view-model">close</button>
      <div id="{{ cid }}-save" class="edit save-model disabled">
        <i class="saving fa fa-spinner fa-spin"></i>
        <i class="enabled fa fa-floppy-o"></i>
        <i class="disabled fa fa-check"></i>
      </div>
    </div>
    <div class="model-title">
      <span class="view">{{ partner }} ({{ minutes }} minutes)</span>
      <input class="edit" type="text" name="{{ cid }}:partner" class="focus" placeholder="Partner" value="{{ partner }}" />
      <input class="edit" type="number" name="{{ cid }}:minutes" placeholder="Minutes" value="{{ minutes }}" />
    </div>
  </div>
  <div class="model-body">
    <span class="view">{{{ compiled_details }}}</span>
    <textarea class="edit" name="{{ cid }}:details" placeholder="Details">{{ details }}</textarea>
  </div>
</li>