{{! models/entry/module/drill/edit/single }}
<div id="{{ cid }}-save" class="modal-save disabled">
	<i class="saving fa fa-spinner fa-spin"></i>
	<i class="enabled fa fa-floppy-o"></i>
	<i class="disabled fa fa-check"></i>
</div>
<input type="text" name="{{ cid }}:name" class="focus" placeholder="Name" value="{{ name }}" />
<br />
<div title="{{ cid }}:details" class="content-editable" contentEditable="true" data-placeholder="Details">{{ details }}</div>