{{! models/entry/singleSelect }}

<div id="{{ field }}-select" class="single-select">
  <div class="click-away-overlay"></div>
  <input class="select-input" name="{{ cid }}:{{ field }}" type="text"/>
  <div class="select-display">
    {{#if selectedKey}}
      <span class="selected-key"><i class="fa fa-pencil"></i>{{ selectedKey }}</span>
    {{else}}
      <span class="placeholder"><i class="fa fa-pencil"></i>{{ placeholder }}</span>
    {{/if}}
  </div>
  <div class="select-drop">
    <div class="select-search">
      <input type="text" autocomplete="off" />
    </div>
    <ul class="select-options">
      {{#each options}}
        <li id="{{ id }}"
            data-value="{{ resource_uri }}"
            class="{{#if selected}}option-selected{{/if}}"
        >
          {{ name }}
        </li>
      {{/each}}
    </ul>
    <div class="select-create"></div>
  </div>
</div>