{{! entry/judo/edit/single }}

<div class="row">
  <div class="columns">
    <div class="columns">
      {{> widgets/rating }}
      <div><span id="art"></span><span id="type"></span> @ <span id="location"></span></div>
      <br />
      <input id="dtp_start" type="text" name="{{ cid }}:start" value="{{ start }}" />
      <br />
      <input id="dtp_end" type="text" name="{{ cid }}:end" value="{{ end }}" />
    </div>
    <div class="columns">
      <textarea name="{{ cid }}:pre_status"> {{ pre_status }}</textarea>
    </div>
    <div class="columns">
      <textarea name="{{ cid }}:post_status"> {{ post_status }}</textarea>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>DRILLS</h2>
    <div id="drills"></div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>RANDORI</h2>
    <div id="sparring"></div>
  </div>
  
</div>
<div class="row">
  <div class="columns">
    <button id="save">save</button>
  </div>

</div>