{{! entry/judo/edit/single }}

<div class="row">
  <div class="small-6 columns">
    <div id="art"></div>
  </div>
  <div class="small-6 columns">
    <div id="type"></div>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div id="location"></div>
  </div>
  <div class="small-6 columns">
    <div id="type"></div>
  </div>
</div>
  
  
    <div class="columns">
      {{> widgets/rating }}
      <br />
      <input id="dtp_start" type="text" name="{{ cid }}:start" value="{{ start }}" />
      <br />
      <input id="dtp_end" type="text" name="{{ cid }}:end" value="{{ end }}" />
    </div>
    <div class="columns">
      <textarea name="{{ cid }}:pre_status"> {{ pre_status }}</textarea>
    </div>
    <div class="columns">
      <textarea name="{{ cid }}:post_status"> {{ post_status }}</textarea>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>DRILLS</h2>
    <div id="drills"></div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>RANDORI</h2>
    <div id="sparring"></div>
  </div>
  
</div>
<div class="row">
  <div class="columns">
    <button class="success expand radius" id="save">Save</button>
  </div>

</div>