{{! entry/judo/edit/single }}

<div class="row">

  <div class="columns entry-form-meta">
    <div>
      <div id="art"></div>
      <div id="type"></div>
    </div>
    <div>
      <div id="at"><h2>@</h2></div>
      <div id="location"></div>
    </div>
  </div>
  
  <div class="small-6 columns">
    <h4>from:</h4>
		<div id="start"></div>
  </div>
  
  <div class="small-6 columns">
    <h4>until:</h4>
		<div id="end"></div>
  </div>
	
  <div class="columns text-center">
    <div id="date" name="{{ cid }}:date"></div>
  </div>
  
  <div class="columns">
    <h3>pre-training notes:</h3>
  </div>
  <div class="columns">
		<div title="{{ cid }}:pre_status" class="content-editable" contentEditable="true" data-placeholder="How did you feel before?">{{ pre_status }}</div>
  </div>
  
  <div class="columns">
    <h3>post-training notes:</h3>
  </div>
  <div class="columns">
		<div title="{{ cid }}:post_status" class="content-editable" contentEditable="true" data-placeholder="How did you feel after?">{{ post_status }}</div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    {{> widgets/rating }}
  </div>
</div>

<div class="row">
  <div class="columns">
    <h2>DRILLS</h2>
    <div id="drills" class="model-list"></div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>SPARRING</h2>
    <div id="sparring" class="model-list"></div>
  </div>
  
</div>
<div class="row">
  <div class="columns">
    <button class="expand success radius" id="save">Save Entry</button>
  </div>

</div>