{{! entry/judo/edit/single }}

<div class="row">

  <div class="columns entry-form-meta">
    <div>
      <div id="art"></div>
      <div id="type"></div>
    </div>
    <div>
      <div id="at"><h2>@</h2></div>
      <div id="location"></div>
    </div>
  </div>
  
  <div class="columns">
    <input id="date" type="date" name="{{ cid }}:start" value="{{ start }}" />
  </div>
  
  <div class="small-2 columns">
    <h3>from</h3>
  </div>
  <div class="small-10 columns">
    <input id="start" type="text" name="{{ cid }}:start" value="{{ start }}" />
  </div>
  
  <div class="small-2 columns">
    <h3>until</h3>
  </div>
  <div class="small-10 columns">
    <input id="end" type="text" name="{{ cid }}:end" value="{{ end }}" />
  </div>
  
  <div class="columns">
    <h3>pre-event notes:</h3>
  </div>
  <div class="columns">
    <textarea name="{{ cid }}:pre_status" placeholder="How did you feel before?">{{ pre_status }}</textarea>
  </div>
  
  <div class="columns">
    <h3>post-event notes:</h3>
  </div>
  <div class="columns">
    <textarea name="{{ cid }}:post_status" placeholder="How did you feel after?">{{ post_status }}</textarea>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    {{> widgets/rating }}
  </div>
</div>

<div class="row">
  <div class="columns">
    <h2>DRILLS</h2>
    <div id="drills"></div>
  </div>
  
</div>

<div class="row">
  <div class="columns">
    <h2>RANDORI</h2>
    <div id="sparring"></div>
  </div>
  
</div>
<div class="row">
  <div class="columns">
    <button class="expand success radius" id="save">Save Entry</button>
  </div>

</div>